<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <div class="row">
      <a href="index.html">
        <img
          class="navbar-brand"
          alt="logo"
          style="position: absolute; margin-left: -10px; top: 0%;"
          src="Anezium.gif"
          height="60"
          width="130"
        />
      </a>
    </div>
    <button
      class="navbar-toggler navbar-toggler-right"
      type="button"
      data-toggle="collapse"
      data-target="#navbarResponsive"
      aria-controls="navbarResponsive"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="streaming.html">Streaming</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="torrents.html">Torrents</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="DDL.html">DDL</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="applications.html">Applications</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="adblocker.html">Adblocker</a>
        </li>
        <li class="nav-item">
          <div
            class="nav-link custom-control custom-switch"
            style="position: relative; right: -30px;"
          >
            <input
              type="checkbox"
              class="custom-control-input"
              id="darkSwitch"
            />
            <label class="custom-control-label" for="darkSwitch">
              Dark Mode
            </label>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>